{% load static %}
<footer class="container-fluid p-3 border-top bg-danger">
    <div class="container-fluid p-3 text-center">
        <a href="https://github.com/bobowzky" target="_blank"><img src="{% static 'img/github.png' %}" alt="Github" style="width:50px;"></a>
        <a href="https://www.sspu-opava.cz/cs/" target="_blank"><img src="{% static 'img/skola.png' %}" alt="Škola" style="width:50px;"></a>
        <hr class="text-white">
        <p class="text-center text-light"> &copy; 2023 Robin Harazim</p>
    </div>
</footer>