{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand text-dark" href="#"><img src="{% static 'img/logo2.png' %}" alt="Anime databáze" style="width:120px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-dark" href="{% url 'index' %}">Úvodní stránka <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark"  href="{% url 'anime_list' %}">Seznam anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'autor_list' %}">Autoři</a>
            </li>
        </ul>
    </div>
</nav>