{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Anime databáze{% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo1.png' %}" type="image/png" sizes="80x80">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-dark">
    <!-- Záhlaví -->
    {% include 'page/header.html' %}
    <!-- Navigace -->
    {% include 'page/navbar.html' %}
    <!-- Obsah stránky -->
    <main class="container">
    {% block content %}{% endblock %}
    </main>
    <!-- Zápatí -->
     {% include 'page/footer.html' %}
</body>
</html>
